ul.images {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
    scrollbar-width:  thin;
  }
  ul.images li {
    display: inline;
    width: 10px;
    height: 10px;
  }